header, nav, main, footer, ul, li 
{
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0, auto;
}

h1, h2, p, a, button
{
        font-family: 'Raleway', sans-serif;
}

body {
    background-image: linear-gradient(90deg, #13547a, #80d0c7);
}

button {
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 280px;
    height: 180px;
}
.button1 {
    background-color: #ff0000;
    font-size: 40px;
    position: absolute;
    left: 500px;
}

.button2 {
    background-color: #00fffa;
    font-size: 40px;
    position: absolute;
    left: 790px;
}

.button3 {
  background-color: #0cff00;
    font-size: 40px;
  position: absolute;
  left: 500px;
  top: 265px;
}

.button4 {
  background-color: #ffc300;
    font-size: 40px;
  position: absolute;
  left: 790px;
  top: 265px;
}

.button1:hover {
  background-color: #ea0000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
  background-color: #00ede8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button3:hover {
  background-color: #0ae200;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button4:hover {
  background-color: #e0ab00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    text-align: center;
}
